/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

.menu {
  padding: 16px 24px;
  color: darkolivegreen;
  font-size: 24px;
}
